<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Secure PDF Server</h1>
    </header>
    <main class="home-container">
        <section class="intro centered-section">
	    <h2>Welcome to a PDF Server!</h2>
            <p>We currently have {{PDF_Count}} PDF documents available.</p>
            <a href="/pdfs" class="btn primary-btn">View Available PDFs</a>
        </section>
	<section>
                <h2>A Little About Ducks 🦢</h2>
                <p>Did you know ducks are mostly aquatic birds? They are usually smaller than swans and geese, and may be found in both fresh water and sea water. They're excellent swimmers and can fly, making them quite versatile!</p>
                
                <h3>Fun Facts:</h3>
                    <p>A male duck is called a drake.</p>
                    <p>Ducks have highly waterproof feathers due to an oily coating.</p>
                    <p>Their feet are webbed, which helps them paddle efficiently.</p>
            </section>
    </main>
    <footer>
        <p>COS498 - Secure PDF Server</p>
    </footer>
</body>
</html>
