<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<header>
        	<h1>Secure PDF Server</h1>
	</header>

  		<main class="home-container">
    			<section class="intro">
      				<h2>Welcome to a PDF Server!</h2>
			</section>
  		</main>

	<footer>
        	<p>COS498 - Secure PDF Server</p>
	</footer>
</body>
</html>

